@media (max-width: 575.98px) {
    #home1 .title {
        font-size: 30px;
        font-family: "Bodoni Moda", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-wrap: none;
        width: 100%;
        text-align: center;
    }

    #home1 .subtext {
        font-size: 16px;
        position: absolute;
        text-align: center;
        padding-top: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #home2 .title {
        width: 100%;
        font-size: 30px;
        position: absolute;
        bottom: 8vh;
        left: 6vw;
        /* margin-bottom: 190px; */
        text-align: left;
        line-height: 30px;
    }

    #home2 .description {
        position: absolute;
        bottom: 12vh;
        left: 6vw;
        width: 88vw;
        text-align: justify;
        font-size: 12px;
    }

    #home2 .rm-btn {
        position: absolute;
        bottom: 10vh;
        left: 48vw;
        width: 100%;
    }

    #home2 .cta {
        margin: 20px;
        border: none;
        background: none;
        cursor: pointer;
    }

    #home2 .cta span {
        padding-bottom: 7px;
        letter-spacing: 4px;
        font-size: 14px;
        padding-right: 15px;
        text-transform: uppercase;
    }

    #home2 .cta svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
    }

    #home3 .title {
        width: 100%;
        font-size: 30px;
        position: absolute;
        bottom: 10vh;
        right: 6vw;
        text-align: right;
        /* margin-bottom: 160px; */
        line-height: 60px;
    }

    #home3 .description {
        position: absolute;
        bottom: 14vh;
        right: 6vw;
        width: 88vw;
        text-align: justify;
        font-size: 12px;
    }

    #home3 a {
        text-decoration: none;
    }

    #home3 .rm-btn {
        position: absolute;
        bottom: 10vh;
        left: 48vw;
        width: 100%;
    }

    #home3 .cta {
        margin: 20px;
        border: none;
        background: none;
        cursor: pointer;
    }

    #home3 .cta span {
        padding-bottom: 7px;
        letter-spacing: 4px;
        font-size: 14px;
        padding-right: 15px;
        text-transform: uppercase;
    }

    #home3 .cta svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
    }

    #home3 .cta:hover svg {
        transform: translateX(0);
    }

    #home3 .cta:active svg {
        transform: scale(0.9);
    }

    #home3 .hover-underline-animation {
        position: relative;
        color: rgb(0, 0, 0);
        padding-bottom: 20px;
    }

    #home3 .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: gold;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    #home3 .cta:hover .hover-underline-animation:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }










    #home7 .title {
        width: 100%;
        font-size: 30px;
        position: absolute;
        bottom: 10vh;
        right: 6vw;
        text-align: right;
        margin-bottom: 210px;
        line-height: 30px;
    }

    #home7 .description {
        position: absolute;
        bottom: 14vh;
        right: 6vw;
        width: 88vw;
        text-align: justify;
        font-size: 12px;
    }

    #home7 a {
        text-decoration: none;
    }

    #home7 .rm-btn {
        position: absolute;
        bottom: 10vh;
        left: 48vw;
        width: 100%;
    }

    #home7 .cta {
        margin: 20px;
        border: none;
        background: none;
        cursor: pointer;
    }

    #home7 .cta span {
        padding-bottom: 7px;
        letter-spacing: 4px;
        font-size: 14px;
        padding-right: 15px;
        text-transform: uppercase;
    }
}