@media (max-width: 575.98px) {
    #ourstory1 h1 {
        font-size: 5vw;
        position: absolute;
        top: 10vh;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    #ourstory1 .info {
        font-size: 3vw;
        width: 80vw;
        position: absolute;
        bottom: 14vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: justify;
    }
}