@media (max-width: 575.98px) {
    #SR1 .sr1 {
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    #SR1 .title {
        position: absolute;
        top: 10vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 88vw;
        font-size: 30px;
    }

    #SR1 .subtext {
        width: 88vw;
        height: fit-content;
        position: absolute;
        top: 68vh;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        text-align: justify;
    }

    #SR2 .hrscroll {}

    #SR2 .custom-rectangle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: calc(40vh);
        width: 88vw;
        padding: 10px;
        border: none;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #SR2 .custom-rectangle h1 {
        font-size: 24px;
        text-align: center;
    }

    #SR2 .custom-rectangle p {
        margin-bottom: 0;
        text-align: justify;
    }

    #SR2 .row {
        position: relative;
        height: 80vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        overflow-y: hidden;

    }

    /* #SR2 .slider-container {
        position: absolute;
        top: 0vh;
        width: 100%;
        height: 70vh;
        overflow-x: auto;
        white-space: nowrap;
        background: red;
    } */

    #SR2 .crm1 {
        position: absolute;
        top: 42vh;
        border: 1px solid #00000048;
        border-radius: 10px;
        box-sizing: border-box;
        height: 70vh;
    }

    #SR2 .crm2 {
        position: absolute;
        top: 42vh;
        left: 150vw;
        border: 1px solid #00000048;
        border-radius: 10px;
        box-sizing: border-box;
        height: 70vh;
    }

    #SR2 .crm3 {
        position: absolute;
        top: 42vh;
        left: 250vw;
        border: 1px solid #00000048;
        border-radius: 10px;
        box-sizing: border-box;
        height: 70vh;
    }

    #SR2 .crm4 {
        position: absolute;
        top: 42vh;
        left: 350vw;
        border: 1px solid #00000048;
        border-radius: 10px;
        box-sizing: border-box;
        height: 70vh;
    }
}