# Set default behavior, for new repositories without a .gitattributes file
* text=auto

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg binary

# Custom rules
assets/icons/language-black-fill.svg text eol=lf
assets/icons/language.svg text eol=lf
