/* hamburger */
@media only screen and (max-width: 600px) {
  #common-header-navbar {
    background: transparent;
    box-shadow: none;
  }

  #common-header-navbar nav .logo {
    display: none;
  }

  #common-header-navbar .hamburger {
    z-index: 1000;
    display: block;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1001;
    padding: 0px;
  }

  #common-header-navbar nav ul {
    height: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; /* Place the ul at the vertical center */
    left: 50%; /* Place the ul at the horizontal center */
    transform: translate(
      -50%,
      0
    ); /* Center the ul both horizontally and vertically */
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
    overflow: hidden;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    transition: 0.5s;
    opacity: 0;
    z-index: 1000;
    width: 100vw; /* Set width to 100% of viewport width */
  }

  #common-header-navbar .navibar.active {
    height: 300px;
    opacity: 1;
  }
}
